venv/
__pycache__/
*.py[cod]
*.log
.env
.env.local
local.env
credentials/
credentials.json
data/manual_review/
data/downloads/
data/processed/
debug-*.log
*.exe
log.txt
back/
debug_roi/
.DS_Store
Thumbs.db
SumatraPDF*
logo.jpg*
*.pdf
log.txt*
*Text Document*
*.jpeg
*.jpg
*.png.png
